{"openapi":"3.0.0","info":{"description":"This service provides REST calls to extract information on businesses and companies from VAT or TAX code (or other identifiers especially for non-European countries).\n\nBeyond Italy, there are endpoints targeting individual European countries like France, Germany, Spain, or the United Kingdom (and many others), or three endpoints that encompass a search for every country in the world.\n\nIn addition to synchronous information, there is also the ability to intercept any changes that occur within a company through the new monitoring section.\n\nAt this <a href='https://docs.openapi.it/company-sandbox-examples.html' target='_blank'>link</a> you can find a list of companies that allow you to try the service in a sandbox environment.","version":"1.0.0","title":"Company","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://company.openapi.com","description":"Production"},{"url":"https://test.company.openapi.com","description":"Sandbox"}],"tags":[{"name":"IT","description":"Extraction of company information starting from VAT or TAX code. Reference country: Italy"},{"name":"EU","description":"Extraction of company information starting from VAT or TAX code. Reference area: Europe"},{"name":"FR","description":"Extraction of company information starting from VAT or Siret code. Reference area: France"},{"name":"DE","description":"Extraction of company information starting from VAT. Reference area: Germany"},{"name":"ES","description":"Extraction of company information starting from VAT. Reference area: Spain"},{"name":"PT","description":"Extraction of company information starting from VAT. Reference area: Portugal"},{"name":"GB","description":"Extraction of company information starting from VAT. Reference area: Great Britain"},{"name":"BE","description":"Extraction of company information starting from VAT. Reference area: Belgium"},{"name":"AT","description":"Extraction of company information starting from VAT. Reference area:   Austria"},{"name":"CH","description":"Extraction of company information starting from VAT. Reference area:   Switzerland"},{"name":"PL","description":"Extraction of company information starting from VAT. Reference area:   Poland"},{"name":"WW","description":"Extraction of company information starting from VAT. Reference area: World Wide"},{"name":"Monitor","description":"Business information monitoring system. Reference area: World Wide"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"Marketing":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"companyStatus":{"$ref":"#/components/schemas/companyStatus"},"address":{"$ref":"#/components/schemas/address"},"branches":{"$ref":"#/components/schemas/branches"},"atecoClassification":{"$ref":"#/components/schemas/atecoClassification"},"internationalClassification":{"$ref":"#/components/schemas/internationalClassification"},"corporateGroups":{"$ref":"#/components/schemas/corporateGroups"},"employees":{"$ref":"#/components/schemas/employees"},"employeesStatistic":{"$ref":"#/components/schemas/employeesStatistic"},"innovativeSmeAndSu":{"$ref":"#/components/schemas/innovativeSmeAndSu"},"mail":{"$ref":"#/components/schemas/mail"},"contacts":{"$ref":"#/components/schemas/contacts"},"ecofin":{"$ref":"#/components/schemas/ecofin"},"webAndSocial":{"$ref":"#/components/schemas/webAndSocial"},"pec":{"$ref":"#/components/schemas/pec"},"allOffices":{"type":"array","items":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"companyStatus":{"$ref":"#/components/schemas/companyStatus"},"address":{"$ref":"#/components/schemas/address"}}}}}},"Stakeholders":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"address":{"$ref":"#/components/schemas/address"},"branches":{"$ref":"#/components/schemas/branches"},"managers":{"$ref":"#/components/schemas/managers"},"shareholders":{"$ref":"#/components/schemas/shareholders"},"corporateGroups":{"$ref":"#/components/schemas/corporateGroups"},"subsidiaries":{"$ref":"#/components/schemas/subsidiaries"},"affiliateCompanies":{"$ref":"#/components/schemas/affiliateCompanies"},"employees":{"$ref":"#/components/schemas/employees"},"employeesStatistic":{"$ref":"#/components/schemas/employeesStatistic"}}},"Aml":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"address":{"$ref":"#/components/schemas/address"},"branches":{"$ref":"#/components/schemas/branches"},"managers":{"$ref":"#/components/schemas/managers"},"shareholders":{"$ref":"#/components/schemas/shareholders"},"corporateGroups":{"$ref":"#/components/schemas/corporateGroups"},"subsidiaries":{"$ref":"#/components/schemas/subsidiaries"},"affiliateCompanies":{"$ref":"#/components/schemas/affiliateCompanies"},"foreignTrade":{"$ref":"#/components/schemas/foreignTrade"},"publicTenders":{"$ref":"#/components/schemas/publicTenders"},"operatingResults":{"$ref":"#/components/schemas/operatingResults"},"ecofin":{"$ref":"#/components/schemas/ecofin"},"debts":{"$ref":"#/components/schemas/debts"},"rae":{"$ref":"#/components/schemas/rae"},"sae":{"$ref":"#/components/schemas/sae"}}},"Full":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"legalForm":{"$ref":"#/components/schemas/legalForm"},"companyStatus":{"$ref":"#/components/schemas/companyStatus"},"companyDates":{"$ref":"#/components/schemas/companyDates"},"address":{"$ref":"#/components/schemas/address"},"marketable":{"$ref":"#/components/schemas/marketable"},"branches":{"$ref":"#/components/schemas/branches"},"atecoClassification":{"$ref":"#/components/schemas/atecoClassification"},"internationalClassification":{"$ref":"#/components/schemas/internationalClassification"},"ecofin":{"$ref":"#/components/schemas/ecofin"},"employees":{"$ref":"#/components/schemas/employees"},"operatingResults":{"$ref":"#/components/schemas/operatingResults"},"employeesStatistic":{"$ref":"#/components/schemas/employeesStatistic"},"innovativeSmeAndSu":{"$ref":"#/components/schemas/innovativeSmeAndSu"},"mail":{"$ref":"#/components/schemas/mail"},"contacts":{"$ref":"#/components/schemas/contacts"},"webAndSocial":{"$ref":"#/components/schemas/webAndSocial"},"pec":{"$ref":"#/components/schemas/pec"},"publicTenders":{"$ref":"#/components/schemas/publicTenders"},"foreignTrade":{"$ref":"#/components/schemas/foreignTrade"},"managers":{"$ref":"#/components/schemas/managers"},"shareholders":{"$ref":"#/components/schemas/shareholders"},"corporateGroups":{"$ref":"#/components/schemas/corporateGroups"},"subsidiaries":{"$ref":"#/components/schemas/subsidiaries"},"affiliateCompanies":{"$ref":"#/components/schemas/affiliateCompanies"},"artisanBusinessRegistry":{"$ref":"#/components/schemas/artisanBusinessRegistry"},"soaCertification":{"$ref":"#/components/schemas/soaCertification"},"assetsAggregateValues":{"$ref":"#/components/schemas/assetsAggregateValues"},"creditsToShareholders":{"$ref":"#/components/schemas/creditsToShareholders"},"intangibleFixedAssets":{"$ref":"#/components/schemas/intangibleFixedAssets"},"tangibleFixedAssets":{"$ref":"#/components/schemas/tangibleFixedAssets"},"financialFixedAssets":{"$ref":"#/components/schemas/financialFixedAssets"},"inventory":{"$ref":"#/components/schemas/inventory"},"credits":{"$ref":"#/components/schemas/credits"},"financialAssets":{"$ref":"#/components/schemas/financialAssets"},"cashEquivalents":{"$ref":"#/components/schemas/cashEquivalents"},"liabilitiesAggregateValues":{"$ref":"#/components/schemas/liabilitiesAggregateValues"},"netWorth":{"$ref":"#/components/schemas/netWorth"},"riskProvisions":{"$ref":"#/components/schemas/riskProvisions"},"debts":{"$ref":"#/components/schemas/debts"},"incomeStatementAggregateValues":{"$ref":"#/components/schemas/incomeStatementAggregateValues"},"productionValue":{"$ref":"#/components/schemas/productionValue"},"productionCosts":{"$ref":"#/components/schemas/productionCosts"},"revenuesFinancialCharges":{"$ref":"#/components/schemas/revenuesFinancialCharges"},"adjustments":{"$ref":"#/components/schemas/adjustments"},"annualResult":{"$ref":"#/components/schemas/annualResult"},"coverageRatios":{"$ref":"#/components/schemas/coverageRatios"},"development":{"$ref":"#/components/schemas/development"},"efficiency":{"$ref":"#/components/schemas/efficiency"},"financialBurden":{"$ref":"#/components/schemas/financialBurden"},"financialCycle":{"$ref":"#/components/schemas/financialCycle"},"financialStability":{"$ref":"#/components/schemas/financialStability"},"financialStatementKpi":{"$ref":"#/components/schemas/financialStatementKpi"},"indebtedness":{"$ref":"#/components/schemas/indebtedness"},"leverageRatios":{"$ref":"#/components/schemas/leverageRatios"},"liquidityRatios":{"$ref":"#/components/schemas/liquidityRatios"},"profitability":{"$ref":"#/components/schemas/profitability"},"structureRatios":{"$ref":"#/components/schemas/structureRatios"},"rae":{"$ref":"#/components/schemas/rae"},"sae":{"$ref":"#/components/schemas/sae"},"allOffices":{"type":"array","items":{"type":"object","properties":{"companyDetails":{"$ref":"#/components/schemas/companyDetails"},"companyStatus":{"$ref":"#/components/schemas/companyStatus"},"address":{"$ref":"#/components/schemas/address"}}}}}},"companyDetails":{"type":"object","properties":{"vatCode":{"type":"string","description":"VAT registration number (Italian Partita IVA)"},"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)"},"lastUpdateDate":{"type":"string","format":"date-time","description":"Latest update of Company Data"},"cciaa":{"type":"string","description":"Acronym of the city where the company was registered (e.g. RM as Rome, MI as Milan etc.)"},"reaCode":{"type":"string","description":"Economic and Administrative Repertory number for Chamber of Commerce"},"openapiNumber":{"type":"string","description":"Internal identification number"},"companyName":{"type":"string","description":"Legal name of the company"},"officeType":{"type":"object","properties":{"code":{"type":"string","description":"Office type code","enum":["SSL","SL","UL","S","D"]},"description":{"type":"string","description":"Office type description","enum":["Administrative headquarter and registered office","Registered office","Local units","Administrative headquarter","Division"]}}}}},"address":{"type":"object","properties":{"streetName":{"type":"string","description":"Name of the street where the office is located"},"zipCode":{"type":"string","description":"ZIP code (Italian CAP) where the office is located"},"town":{"type":"string","description":"Town where the office is located"},"province":{"type":"object","properties":{"code":{"type":"string","description":"County (Province) where the office is located"},"description":{"type":"string","description":"Complete name of the area (Province) where the office is located"}}},"region":{"type":"object","properties":{"code":{"type":"string","description":"Code Area (Region) where the office is located"},"description":{"type":"string","description":"Complete name of the area (Region) where the office is located"}}},"country":{"type":"object","properties":{"code":{"type":"string","description":"Code country where the office is located"},"description":{"type":"string","description":"Complete name of the country where the office is located"}}}}},"branches":{"type":"object","properties":{"numberOfBranches":{"type":"integer","description":"Number of branches"}}},"managers":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"name":{"type":"string","description":"First name of the manager"},"surname":{"type":"string","description":"Surname of the manager"},"roles":{"type":"array","items":{"type":"object","properties":{"role":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["ASSSC","CAG","CES","COMC","DAQ","SOVRC","TI2","VPE","DS","IS","LUL","MASC","MCA","MGD","MINC","MSD","OPC","PCT","PG","RABBC","RAF","RAS","RC","PA0004","PA0034","PA0036","PA0050","PA0058","997997","ACR","C07","C11","COD","COMAC","CZ","DEPC","DI","SCR","SFI","SOC","SOP","STE","VCD","VDT","IMR","IN","PCO","PCS","PRA","PRE","RG","PA0010","PA0013","PA0020","PA0025","PA0029","PA0046","PA0052","PA0053","PA0059","AFF","ALLC","AMMIRC","AUP","C03","C19","COF","CUF","DIA","SOL","SQU","VCA","VDA","VICC","VIV","DL2","DLF","DRE","EXS","GER","LRF","MCS","MDC","OCO","ODI","OES","PDI","PS","QUEC","PA0005","PA0012","PA0018","PA0021","PA0030","PA0048","888888","AUN","C12","CAD","CEP","CF","CLD","COE","CON","COS","CPC","CU","DEP","SDR","SIE","SIP","TES","VDS","VPP","DSC","LGR","MCE","MPP","PF","PP","PRO","PRS","PRT","PSE","PTT","RAP","RECC","PA0001","PA0049","CMS","COP","COZ","CSG","DIVC","SAP","SNC","SOA","SPR","TESC","TU","US","DMKC","FU","GOV","GSG","KY","LI","LR2","MS","PCE","PDC","PDS","PE","PEP","PPP","PRP","PRSD","RE","PA0002","PA0032","PA0041","PA0044","PA0056","AF","CCG","CG","CGS","COA","COO","DCP","DE","SDRC","SOU","DRC","DRR","ELE","FC","LGT","LSA","MCD","MI","OPN","PARC","PASC","PB","PCD","PFT","PGD","PM","PRC","PRQ","PTR","RCF","RETEC","PA0009","PA0016","PA0060","PA0062","PA0063","AMBC","ASSC","C02","C09","C22","C28","CC","CI","CLR","CM","CNG","COLLC","CTE","DAM","DCO","DIV","RV","SFC","SLA","SLR","SQ","TTE","VDI","VID","MED","MGS","PSC","PT","RES","RETC","RIT","PA0003","PA0006","PA0022","PA0026","PA0028","AMM","AMS","ARVC","C08","C16","C26","CD","CDS","CDT","CONC","CPR","CUM","DAQC","DIR","SNA","SNQ","VDC","VIC","DP","DPC","GID","IMN","LRT","MA","MCT","MGC","PC","PCG","PCP","PEO","PTE","RAZ","RCD","RPS","PA0007","PA0038","PA0054","PAR","999999","ASO","C21","CE","COL","COV","CS","CSMC","CST","CUV","DA","DF","VICPREFC","VSC","VSG","DNC","DR","DTC","MP","PSS","LIG","MCG","MGE","OCA","PGT","PL","PN","RCS","PA0027","PA0039","PA0061","RTE","992992","998998","ADP","AMG","APR","ART","C15","C17","C23","C32","C34","CT","CUE","DG","RSU","SEGC","SNP","SOR","UM1","VAD","VCG","VGD","VPA","KV","LER","MA_","OAS","PA","PCV","PES","PGS","PR","PTS","RCO","RFM","PA0008","PA0014","PA0015","PA0023","PA0040","PADC","996996","ACP","AMP","ATI","C13","C14","C18","C20","CDG","CLT","COM","CRT","CSA","DAC","DC","DEC","DES","RSS","RTC","SAB","SEP","SOF","SOS","TPS","UM2","VDE","VGE","VGO","VICPRC","DMK","DT","FAT","NE","OPA","PCA","PGC","PGE","RDF","RIN","PA0011","PA0019","PA0033","PA0035","PA0051","PA0055","PA0057","ND99","AMD","C01","C29","CA","CAPC","CDP","CGE","COG","COLLDC","COT","CSS","CVE","DGC","DIP","SA","SCA","SIS","SON","SOT","TI","TIT","VCO","VDG","VED","VESC","VSD","DRG","DSA","DTD","DZ","GE","IG","PAD","PAF","PCM","PED","PGF","PGM","PPR","PREC","PROVC","PSD","RA","PA0017","PA0024","PA0031","PA0037","PA0042","PA0043","PA0045","PA0047","RTA"]},"description":{"type":"string","description":"Role description of the manager in the company"}}},"roleStartDate":{"type":"string","format":"date-time","description":"Starting date of the manager's role in the company. The start date field corresponds to the Registration Date in this order of priority date of registration, date of entry in the register of members, date of deed of appointment"}}}},"gender":{"type":"object","properties":{"code":{"type":"string","description":"Gender code (M/W)","enum":["M","W"]},"description":{"type":"string","description":"Gender Description (Man/Woman)"}}},"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)"},"birthDate":{"type":"string","format":"date-time","description":"Date of birth of the manager"},"age":{"type":"integer","description":"Manager's age"},"birthTown":{"type":"string","description":"Town of birth of the manager"},"isLegalRepresentative":{"type":"boolean","description":"The field indicates if the manager is also the legal representative of the company (true / false)"}}},{"type":"object","properties":{"companyName":{"type":"string","description":"Legal name of the company"},"roles":{"type":"array","items":{"type":"object","properties":{"role":{"type":"object","properties":{"code":{"type":"string","description":"Role code of the manager in the company"},"description":{"type":"string","description":"Role description of the manager in the company"}}},"roleStartDate":{"type":"string","format":"date-time","description":"Starting date of the manager's role in the company. The start date field corresponds to the Registration Date in this order of priority date of registration, date of entry in the register of members, date of deed of appointment"}}}},"taxCode":{"type":"string","description":"Tax code of manager"},"isLegalRepresentative":{"type":"boolean","description":"The field indicates if the manager is also the legal representative of the company (true / false)"}}}]}},"shareholders":{"type":"array","items":{"type":"object","properties":{"shareholdersInformation":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code of shareholder"},"name":{"type":"string","description":"First Name of the shareholder"},"surname":{"type":"string","description":"Surname of the shareholder"},"streetName":{"type":"string","description":"Address of the shareholder's domicile"},"sinceDate":{"type":"string","format":"date-time","description":"Starting date of the shareholder's role in the company"},"zipCode":{"type":"string","description":"Zip code of the shareholder's domicile"},"town":{"type":"string","description":"Town of the shareholder's domicile"}}},{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code of shareholder"},"openapiNumber":{"type":"string","description":"Internal identification number"},"companyName":{"type":"string","description":"Company name"},"sinceDate":{"type":"string","format":"date-time","description":"Starting date of the shareholder's role in the company"},"streetName":{"type":"string","description":"Domicile address (for a private person) or registered office (for a company)"},"zipCode":{"type":"string","description":"Zip code of the shareholder's registered office"},"town":{"type":"string","description":"Town of the shareholder's registered office"}}}]}},"percentShare":{"type":"number","format":"double","description":"Percentage ownership of the company (%)"}}}},"corporateGroups":{"type":"object","properties":{"belongsToGroup":{"type":"boolean","description":"The field indicates whether the company is part of a Corporate"},"groupName":{"type":"string","description":"Name of corporate group"},"holdingCompanyName":{"type":"string","description":"Name of holding company"},"holdingCountry":{"type":"object","properties":{"code":{"type":"string","description":"Code for the country where the holding company is located"},"description":{"type":"string","description":"Country where the holding company is based"}}},"nationalParentCompany":{"type":"object","properties":{"companyName":{"type":"string","description":"Name of parent company"},"streetName":{"type":"string","description":"Address of the headquarters of the parent company"},"town":{"type":"string","description":"Town of the headquarters of the parent company"},"zipCode":{"type":"string","description":"Zip Code of the headquarters of the parent company"},"province":{"type":"object","properties":{"code":{"type":"string","description":"Code Area (Province) where the headquarters of the parent company is based"},"description":{"type":"string","description":"Description of Area (Province) where the headquarters of the parent company is based"}}},"country":{"type":"object","properties":{"code":{"type":"string","description":"Country Code where the headquarters is based"},"description":{"type":"string","description":"Country where the headquarters is based"}}}}},"hasForeignParentCompany":{"type":"boolean","description":"The field indicates if the parent company is abroad (true/false)"}}},"subsidiaries":{"type":"array","items":{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code of subsidiary company"},"companyName":{"type":"string","description":"Name of subsidiary company"},"streetName":{"type":"string","description":"Address of subsidiary company"},"zipCode":{"type":"string","description":"ZipCode of subsidiary company"},"town":{"type":"string","description":"Town of subsidiary company"},"province":{"type":"object","properties":{"code":{"type":"string","description":"Code Area (Province) of subsidiary company"},"description":{"type":"string","description":"Area (Province) of subsidiary company"}}}}}},"affiliateCompanies":{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code of affiliate company"},"companyName":{"type":"string","description":"Name of affiliate company"},"percentShare":{"type":"number","format":"double","description":"Percentage of the affiliated company"}}},"foreignTrade":{"type":"object","properties":{"isImporter":{"type":"boolean","description":"The field indicates whether the company imports from abroad (true/false). The information on import has been sourced from interviews, so the % figure was provided by the company"},"importPercentShare":{"type":"integer","description":"Percentage of imported goods"},"importCountries":{"type":"string","description":"Name of the countries from where the company imports"},"isExporter":{"type":"boolean","description":"The field indicates whether the company exports abroad (true/false). Information on export has either an interview source or a note source"},"exportPercentShare":{"type":"integer","description":"Percentage of goods exported"},"exportCountries":{"type":"string","description":"Name of the countries where the company exports"}}},"publicTenders":{"type":"array","items":{"type":"object","properties":{"year":{"type":"string","description":"This field indicates the last year of participation in public tenders"},"applied":{"type":"integer","description":"This field shows how many public tenders the company has participated in"},"won":{"type":"integer","description":"This field shows how many public tenders the company won"},"value":{"type":"number","format":"double","description":"This field indicates the value of public tenders won by the company"}}}},"operatingResults":{"type":"object","properties":{"ebitda":{"type":"number","format":"double","description":"EBITDA stands for Earning Before Interest Tax Depreciation Amortisation and is synonymous with Gross Operating Margin (GOP) (in italian Margine Operativo Lordo - MOL) . It is an indicator of profitability and represents earnings before financial expenses, taxes, depreciation and amortisation. EBITDA is calculated: Production value - Cost of raw materials - Cost of services - Personnel costs - Operating costs"},"ebitdaL2Y":{"type":"number","format":"double","description":"EBITDA with reference to the last 2 years"},"ebit":{"type":"number","format":"double","description":"EBIT stands for Earnings Before Interests and Taxes (in italian Risultato Operativo o Margine operativo Netto - MON) and is an indicator for assessing the profitability of a company. EBIT is the margin produced by the activity without considering financial charges and taxes. EBIT is the result of EBITDA - Operating costs including depreciation"},"ebitL2Y":{"type":"number","format":"double","description":"EBIT with reference to the last 2 years"},"cashFlow":{"type":"number","format":"double","description":"Cash flow indicates the positive or negative changes in the company's liquidity that occur in a year"},"cashFlowL2Y":{"type":"number","format":"double","description":"Cash flow indicates the positive or negative changes in the company's liquidity that occur in the last two years"}}},"ecofin":{"type":"object","properties":{"balanceSheetDate":{"type":"string","format":"date-time","description":"Date of submission of the last balance sheet"},"turnoverRange":{"type":"object","properties":{"code":{"type":"string","description":"Turnover range code"},"description":{"type":"string","description":"Turnover range (e.g. 1000000 - 4999999)"}}},"turnoverYear":{"type":"integer","description":"Reference year of turnover"},"turnover":{"type":"number","format":"double","description":"Amount of turnover"},"turnoverTrend":{"type":"number","format":"double","description":"The turnover trend is the growth in turnover in the last available year compared to the previous year"},"shareCapital":{"type":"number","format":"double","description":"The amount of share capital"},"netWorth":{"type":"number","format":"double","description":"The amount of net worth"},"enterpriseSize":{"type":"object","properties":{"code":{"type":"string","description":"Enterprise size range code"},"description":{"type":"string","description":"Company size descriptions (e.g. Small enterprise)"}}}}},"debts":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC116","IIC117","IIC090","IIC091","IIC329","IIC092","IIC093","IIC330","IIC184","IIC185","IIC331","IIC094","IIC095","IIC332","IIC096","IIC097","IIC333","IIC098","IIC099","IIC334","IIC100","IIC101","IIC335","IIC102","IIC103","IIC336","IIC104","IIC105","IIC337","IIC106","IIC107","IIC338","IIC108","IIC109","IIC339","IIC220","IIC221","IIC340","IIC110","IIC111","IIC341","IIC112","IIC113","IIC342","IIC114","IIC115","IIC343"]},"value":{"type":"number","format":"double"}}},"companyStatus":{"type":"object","properties":{"activityStatus":{"type":"object","properties":{"code":{"type":"string","description":"Company Status Code","enum":["A","CF","CS","I","IF","IS","S"]},"description":{"type":"string","description":"Business status of the company (e.g. Enable)","enum":["Enable","Out of business (in a positive way)","Out of business (in a negative way)","Inactive","In closure (in a positive way)","In closure (in a negative way)","Dormant"]}}}}},"atecoClassification":{"type":"object","properties":{"ateco":{"type":"object","properties":{"code":{"type":"string","description":"First level 2025 ATECO code (an italian classification system for economic activities) and is communicated to the Revenue Agency (Agenzia delle Entrate) when opening a VAT number and thus creating a new company.  The 2025 Ateco code is an alphanumeric combination that identifies an economic activity. The letters identify the economic macro-sector while the numbers (two to six digits) represent, with varying degrees of detail, the specific subcategories of the sectors themselves. Economic activities are grouped in increasing detail according to: Sections (1 letter), Divisions (2-digit number), Groups (3-digit number), Classes (4-digit number), Categories (5-digit number), Subcategories (6-digit number). The 2025 ATECO code can be changed by the company but must always be communicated to the Revenue Agency"},"description":{"type":"string","description":"Description of the first level 2025 ATECO Code"}}},"secondaryAteco":{"type":"string","description":"Secondary level 2025 ATECO code. Enterprises carrying out several economic activities may have a primary and a secondary 2025 ATECO code. The primary indicates the predominant activity. The secondary specifies the other nature of the services offered"},"ateco2022":{"type":"object","properties":{"code":{"type":"string","description":"First level 2022 ATECO code (an italian classification system for economic activities) and is communicated to the Revenue Agency (Agenzia delle Entrate) when opening a VAT number and thus creating a new company.  The 2022 Ateco code is an alphanumeric combination that identifies an economic activity. The letters identify the economic macro-sector while the numbers (two to six digits) represent, with varying degrees of detail, the specific subcategories of the sectors themselves. Economic activities are grouped in increasing detail according to: Sections (1 letter), Divisions (2-digit number), Groups (3-digit number), Classes (4-digit number), Categories (5-digit number), Subcategories (6-digit number). The 2022 ATECO code can be changed by the company but must always be communicated to the Revenue Agency"},"description":{"type":"string","description":"Description of the first level 2022 ATECO Code"}}},"secondaryAteco2022":{"type":"string","description":"Secondary level 2022 ATECO code. Enterprises carrying out several economic activities may have a primary and a secondary 2022 ATECO code. The primary indicates the predominant activity. The secondary specifies the other nature of the services offered"}}},"internationalClassification":{"type":"object","properties":{"primarySic":{"type":"object","properties":{"code":{"type":"string","description":"Primary SIC code (a classification system for economic activities in U.S.A.) The classification system uses four-digit coded numbers that categorize businesses by industry. The first two digits classify the major group. The third digit further defines the industry group. The last digit indicates the industry sector. Every business can be categorized with a SIC code"},"description":{"type":"string","description":"Description of Primary SIC code (a classification system for economic activities in U.S.A.)"}}},"secondarySic":{"type":"string","description":"Description of Secondary SIC code (a classification system for economic activities in U.S.A.). Businesses can also have up to five secondary SIC codes. Secondary SIC codes classify other industries the business is involved in but aren't the main focus"}}},"employees":{"type":"object","properties":{"employeeRange":{"type":"object","properties":{"code":{"type":"string","description":"Code for the range of the number of employees"},"description":{"type":"string","description":"Range of the number of employees"}}},"employee":{"type":"integer","description":"Amount of Employees"},"employeeTrend":{"type":"integer","description":"The employee trend is the growth in the number of employees in the current year compared to the previous year (%)"}}},"employeesStatistic":{"type":"object","properties":{"fixedTermContract":{"type":"number","format":"double","description":"Percentage of employees with fixed-term contracts (italian contratto a tempo determinato)"},"permanentContract":{"type":"number","format":"double","description":"Percentage of employees with permanent contracts (italian contratto a tempo indeterminato)"},"partialTimeContract":{"type":"number","format":"double","description":"Percentage of employees with partial time contract (italian contratto a tempo parziale)"},"fullTimeContract":{"type":"number","format":"double","description":"Percentage of employees with full time contract (italian contratto a tempo pieno)"},"director":{"type":"number","format":"double","description":"Percentage of employees with a corporate role: director (in italian dirigente)"},"frameworkContract":{"type":"number","format":"double","description":"Percentage of employees with a corporate role: framework contract (in italian quadro)"},"whiteCollar":{"type":"number","format":"double","description":"Percentage of employees with a corporate role: white-collar (in italian impiegato)"},"apprentice":{"type":"number","format":"double","description":"Percentage of employees with a corporate role: apprentice (in italian apprendistato)"}}},"innovativeSmeAndSu":{"type":"object","properties":{"isInnovativeStartUp":{"type":"boolean","description":"The field indicates if the company is an innovative startup (true / false), a special section of Italian Chamber of Commerce registry"},"isInnovativeSme":{"type":"boolean","description":"The field indicates if the company is an innovative SME (true / false) a special section of Italian Chamber of Commerce registry"}}},"mail":{"type":"object","properties":{"email":{"type":"string","description":"Company email (e.g. info@company.com)"}}},"contacts":{"type":"object","properties":{"telephoneNumber":{"type":"string","description":"Company telephone number"},"fax":{"type":"string","description":"Company Fax number"}}},"webAndSocial":{"type":"object","properties":{"hasSocial":{"type":"boolean","description":"Social"},"eCommerce":{"type":"string","description":"E-Commerce URL"},"website":{"type":"string","description":"Website URL"},"facebook":{"type":"string","description":"URL of the company's Facebook page"},"youtube":{"type":"string","description":"URL of the company's YouTube channel"},"twitter":{"type":"string","description":"URL of the company's Twitter profile"},"instagram":{"type":"string","description":"URL of the company's Instagram profile"},"linkedin":{"type":"string","description":"URL of the company's LinkedIn profile"},"pinterest":{"type":"string","description":"URL of the company's Pinterest profile"},"vimeo":{"type":"string","description":"URL of the company's Vimeo channel"}}},"pec":{"type":"string","description":"Company PEC address (Italian Registred Certified Email)"},"legalForm":{"type":"object","properties":{"legalForm":{"type":"object","properties":{"code":{"type":"string","description":"Code for the legal category of the company: SC (for 'Joint Stock Company', in English Joint Stock Business) - AL (for 'Company of Other Forms', in English Company of Other Forms) - SP (for 'Partnership', in English Partnership)","enum":["SC","AL","SP"]},"description":{"type":"string","description":"Full name of the legal category of the company: Joint stock business (in Italian Società di Capitali - code SC), Company of Other Forms (in Italian Società di Altre Forme, code AL ), Partnership (for 'Società di Persone', code SP)"}}},"detailedLegalForm":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["AA","AC","AE","AF","AI","AL","AM","AN","AP","AR","AS","AT","AU","AZ","CC","CE","CF","CI","CL","CM","CN","CO","CR","CS","CZ","DI","EC","ED","EE","EI","EL","EM","EN","EP","ER","ES","FI","FO","GE","IC","ID","IF","IR","LL","MA","OC","OO","OS","PA","PC","PF","PS","RC","RR","RS","SA","SC","SD","SE","SF","SG","SI","SL","SM","SN","SO","SP","SR","SS","ST","SU","SV","SZ","XX"]},"description":{"type":"string","description":"Full name of the legal form of the company"}}}}},"companyDates":{"type":"object","properties":{"registrationDate":{"type":"string","format":"date-time","description":"Chamber of Commerce registration date: the date on which the company is registered with the Chamber of Commerce, this date may change whenever the company moves and changes"},"startDate":{"type":"string","format":"date-time","description":"Date on which the company actually starts operating"},"incorporationDate":{"type":"string","format":"date-time","description":""},"foundingDate":{"type":"string","format":"date-time","description":"The date on which the company was formed"},"endDate":{"type":"string","format":"date-time","description":"Date of termination of the company"}}},"marketable":{"type":"object","properties":{"isMarketable":{"type":"boolean","description":"The Marketable field identifies companies in business, i.e. the set of companies that have not ceased trading and are not closing"}}},"artisanBusinessRegistry":{"type":"object","properties":{"belongsToArtisanBusinessRegistry":{"type":"boolean","description":"This field indicates whether the company is registered in the special register Artisan in the chamber of commerce"},"artisanBusinessRegistry":{"type":"object","properties":{"registrationDate":{"type":"string","format":"date-time","description":"Date of registration in the special register Artisan in the Chamber of Commerce"},"registrationNumber":{"type":"string","description":"Numer of registration in the special register Artisan in the Chamber of Commerce"}}}}},"soaCertification":{"type":"object","properties":{"hasSoaCertification":{"type":"boolean","description":"This field indicates whether the company has SOA certification (true/false)"}}},"assetsAggregateValues":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC001","IIC039","IIC071","IIC072","IIC073","IIC074"]},"value":{"type":"number","format":"double"}}},"creditsToShareholders":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC193","IIC002"]},"value":{"type":"number","format":"double"}}},"intangibleFixedAssets":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC011","IIC003","IIC004","IIC005","IIC006","IIC007","IIC008","IIC009","IIC010"]},"value":{"type":"number","format":"double"}}},"tangibleFixedAssets":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC018","IIC012","IIC013","IIC014","IIC015","IIC016","IIC017"]},"value":{"type":"number","format":"double"}}},"financialFixedAssets":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC038","IIC032","IIC033","IIC023","IIC019","IIC020","IIC021","IIC194","IIC022","IIC034","IIC024","IIC025","IIC316","IIC026","IIC027","IIC317","IIC028","IIC029","IIC318","IIC195","IIC196","IIC319","IIC030","IIC031","IIC320","IIC035","IIC036","IIC037","IIC197","IIC344"]},"value":{"type":"number","format":"double"}}},"inventory":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC045","IIC040","IIC041","IIC042","IIC043","IIC044","IIC349"]},"value":{"type":"number","format":"double"}}},"credits":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC058","IIC056","IIC057","IIC046","IIC047","IIC321","IIC048","IIC049","IIC322","IIC050","IIC051","IIC323","IIC052","IIC053","IIC324","IIC198","IIC199","IIC325","IIC180","IIC181","IIC326","IIC054","IIC055","IIC328","IIC182","IIC183","IIC327"]},"value":{"type":"number","format":"double"}}},"financialAssets":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC066","IIC059","IIC060","IIC061","IIC200","IIC062","IIC063","IIC064","IIC201","IIC065","IIC202"]},"value":{"type":"number","format":"double"}}},"cashEquivalents":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC070","IIC067","IIC068","IIC069"]},"value":{"type":"number","format":"double"}}},"liabilitiesAggregateValues":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC084","IIC088","IIC089","IIC118","IIC119","IIC120","IIC121","IIC122","IIC123"]},"value":{"type":"number","format":"double"}}},"netWorth":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC075","IIC076","IIC077","IIC078","IIC079","IIC080","IIC081","IIC082","IIC083","IIC203","IIC204","IIC205","IIC206","IIC207","IIC208","IIC209","IIC210","IIC211","IIC212","IIC213","IIC345","IIC214","IIC215","IIC216","IIC218"]},"value":{"type":"number","format":"double"}}},"riskProvisions":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC085","IIC086","IIC219","IIC087"]},"value":{"type":"number","format":"double"}}},"incomeStatementAggregateValues":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC130","IIC149","IIC224","IIC161","IIC170","IIC176"]},"value":{"type":"number","format":"double"}}},"productionValue":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC124","IIC125","IIC126","IIC186","IIC127","IIC128","IIC129","IIC223"]},"value":{"type":"number","format":"double"}}},"productionCosts":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC131","IIC132","IIC133","IIC139","IIC134","IIC135","IIC136","IIC137","IIC138","IIC187","IIC144","IIC140","IIC141","IIC142","IIC188","IIC143","IIC145","IIC146","IIC147","IIC148"]},"value":{"type":"number","format":"double"}}},"revenuesFinancialCharges":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC150","IIC151","IIC225","IIC226","IIC227","IIC228","IIC229","IIC158","IIC152","IIC153","IIC230","IPL231","IPL232","IIC233","IIC234","IIC154","IIC155","IIC189","IIC156","IIC157","IIC235","IIC236","IIC237","IIC238","IIC239","IIC159","IIC160","IIC240","IIC241","IIC242","IIC243","IIC244","IIC190"]},"value":{"type":"number","format":"double"}}},"adjustments":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC165","IIC162","IIC163","IIC164","IIC245","IIC350","IIC169","IIC166","IIC167","IIC168","IIC246","IICC351"]},"value":{"type":"number","format":"double"}}},"annualResult":{"type":"object","properties":{"code":{"type":"string","description":"<a href='https://docs.openapi.it/company-legend.html' target='_blank'>Here</a> you can find the description of the various codes.","enum":["IIC171","IIC172","IIC173","IIC175","IIC174","IIC177","IIC178","IIC191","IIC347","IIC192","IIC250","IIC179"]},"value":{"type":"number","format":"double"}}},"coverageRatios":{"type":"object","properties":{"ebitdaNetInterestCoverage":{"type":"number","format":"double","description":"The EBITDA-to-interest coverage ratio is a financial ratio that is used to assess a company's financial durability. A ratio greater than 1 indicates that the company has more than enough interest coverage to pay off its interest expenses. EBITDA Net Interest Coverage is the result of EBITDA / ( financial expenses - total other income)"},"ffoNetInterestCoverage":{"type":"number","format":"double","description":"FFO Net Interest Coverage is the result of (Funds From Operations-Net Interest Paid) / (-Net Interest Paid)"},"ebitNetInterestCoverage":{"type":"number","format":"double","description":"The interest coverage ratio is a debt and profitability ratio used to determine how easily a company can pay interest on its outstanding debt. When a company's interest coverage ratio is only 1.5 or lower, its ability to meet interest expenses may be questionable. EBIT Net Interest Coverage is the result of EBIT / (Financial expenses - Total other income)"},"ebitdaGrossInterestCoverage":{"type":"number","format":"double","description":"The EBITDA-to-interest coverage ratio is a financial ratio that is used to assess a company's financial durability. A ratio greater than 1 indicates that the company has more than enough interest coverage to pay off its interest expenses. EBITDA Net Interest Coverage is the result of EBITDA / ( financial expenses - total other income)"},"ebitGrossInterestCoverage":{"type":"number","format":"double","description":"The interest coverage ratio is a debt and profitability ratio used to determine how easily a company can pay interest on its outstanding debt. When a company's interest coverage ratio is only 1.5 or lower, its ability to meet interest expenses may be questionable. EBIT Gross Interest Coverage is the result of EBIT / Financial Charges"}}},"development":{"type":"object","properties":{"ebitVariation":{"type":"number","format":"double","description":"Percentage change in EBITDA compared to the previous year (%)"},"grossFinancialDebt":{"type":"number","format":"double","description":"The percentage of change in gross financial debt compared to the previous year (%)"},"totalAssets":{"type":"number","format":"double","description":"The percentage of change in total assets (%)"},"mol":{"type":"number","format":"double","description":"The percentage change in EBITDA compared to the previous year (%)"},"addedValue":{"type":"number","format":"double","description":"The percentage of change in added value compared to the previous year (%)"},"productionValue":{"type":"number","format":"double","description":"The percentage of change in production value compared to the previous year (%)"}}},"efficiency":{"type":"object","properties":{"turnoverIndex":{"type":"number","format":"double","description":"The turnover index measures the efficiency with which a company uses its resources to produce sales and specifically, the indicator expresses the average revenue per unit of investment. The turnover index is the result Value of Production / Total Assets"},"inventoryRotation":{"type":"number","format":"double","description":"The inventory rotation measures the efficiency of inventory management by relating sales revenues to closing inventories.Inventory rotation is the result of Value of Production / Inventories"},"currentAssetsRotation":{"type":"number","format":"double","description":"The current assets rotation indicates the ability to renew working capital to be used for new production. Current Assets Rotation is the result of value of production / current assets"},"accountsReceivableRotation":{"type":"number","format":"double","description":"Rotation of accounts receivables measures the speed at which receivables from sales are returned in liquid form. Rotation of accounts receivables is the result of Value of Production / Receivables from customers"}}},"financialBurden":{"type":"object","properties":{"rod":{"type":"number","format":"double","description":"ROD (Return On Debt), is a balance sheet index that measures the value, in percentage terms, of the return on borrowed capital. ROD is the result of Financial Expense/Total Debt (%)"},"rodFinanziario":{"type":"number","format":"double","description":"Financial ROD (Return On Debt), is the result of Financial Expenses / (Bank Debts + Debts to Other Lenders) (%)"},"burdenIndex":{"type":"number","format":"double","description":""}}},"financialCycle":{"type":"object","properties":{"accountsReceivableDuration":{"type":"number","format":"double","description":"Accounts receivable duration (days) gives an average indication of the time (in days) elapsed between the time of sale and collection. It is the result of (Customer receivables / Value of Production ) * 365 (days)"},"stockDuration":{"type":"number","format":"double","description":"Stock duration indicates the time, in days, required for the investment in stock to become available to the company in liquid form. Stock duration is the result of (Inventories / Value of Production) * 365 (days)"},"debtsToSuppliersDuration":{"type":"number","format":"double","description":"Debts to suppliers duration provides an indication of the average length of time the company has been granted to defer payment by its suppliers, i.e. the number of days between the purchase of goods and services and their payment. Debts to suppliers duration is the result of (Debts to suppliers/(Purchases of materials + Services + Use of third party assets) * 365 (days)"},"financialCycleDuration":{"type":"number","format":"double","description":"Financial cycle duration (days) is the result of duration of customer receivables + duration of inventories - duration of supplier payables (days)"}}},"financialStability":{"type":"object","properties":{"secondaryMarginStructure":{"type":"number","format":"double","description":"Secondary/allocated structure margin measures a company's soundness through its ability to finance fixed assets through sustainable debt. A positive or breakeven secondary structure margin index shows a satisfactory correlation between medium- or long-term sources of financing and equally medium- or long-term investments. A negative ratio, on the other hand, indicates that fixed assets are not only covered by equity but also by a portion of current liabilities, which could mean that the company will face financial solvency problems in the short term. Secondary/Extended Structure Margin is the result of Shareholders' Equity + Medium-Long-Term Debts - Fixed Assets"},"marginStructure":{"type":"number","format":"double","description":"Structure Margin measures the company's ability to invest in its fixed assets through the capital paid in by its shareholders. Structure Margin is the result of Equity - Fixed Assets"},"fixedAssetsCoverageRate":{"type":"number","format":"double","description":"Fixed Assets Coverage Rate is an equity indicator used to show the balance between equity and fixed investments. Fixed Assets Coverage Rate is the result of (Equity + Medium/Long-term Debt) / Fixed Assets (%)"},"marginStructureIndex":{"type":"number","format":"double","description":"Structure Margin Index is the result of Equity / Fixed Assets"},"workingCapitalCoverage":{"type":"number","format":"double","description":"Working Capital Coverage measures your company's ability to generate cash from its operating activities and is the result of Net Working Capital (NWC) / Production value"},"acidTest":{"type":"number","format":"double","description":"Acid Test measures the company's ability to meet short-term commitments using only current assets net of inventories. The Immediate Liquidity Ratio is the result of (Current Assets-Revenues) / Current Liabilities"},"currentRatio":{"type":"number","format":"double","description":"Current ratio shows the company's ability to meet short-term commitments using only current assets. A value above 1 indicates that the company is potentially able to meet its short-term commitments without affecting its financial structure and resorting to alternative sources of debt. Values below 1 indicate a potentially difficult situation in the short term.  Current ratio is the result of Current Assets/Current Liabilities"}}},"financialStatementKpi":{"type":"object","properties":{"debtsTurnover":{"type":"number","format":"double","description":"The Debts Turnover Ratio (also called as Receivables Turnover Ratio) shows how quickly the credit sales are converted into cash and measures the efficiency of a firm in managing and collecting the credit issued to customers. It is an activity ratio that finds out the relationship between credit sales and average trade receivables of a business"},"totalInventoryTurnover":{"type":"number","format":"double","description":"The inventory turnover ratio is the number of times a business sells and replaces its stock of goods during a given period. It considers the cost of goods sold, relative to its average inventory for a year or in any set period of time"}}},"indebtedness":{"type":"object","properties":{"bankDebtTotalAssets":{"type":"number","format":"double","description":"Total-debt-to-total-assets is a leverage ratio that defines how much debt a company owns compared to its assets"},"grossFinancialDebtTotalAssets":{"type":"number","format":"double","description":"Gross Financial Debt Total Assets is the result of Gross financial debt / Total Assets"},"capitalizationDegree":{"type":"number","format":"double","description":"Degree of capitalisation is the result of Equity / Total Liabilities"},"leverage":{"type":"number","format":"double","description":"Leverage is the result of Total Assets / Equity"},"bankDebtRatio":{"type":"number","format":"double","description":"Bank Debt Ratio is the result of Bank Debt / Shareholders' Equity"},"debtRatio":{"type":"number","format":"double","description":"Debt Ratio indicates the weight of third-party financing in relation to the company's total investments. Extremely high values (especially compared to the industry average) can signal structural anomalies in the company and an excessive financial burden.  Debt Ratio is the result of Total Debt / Shareholders' Equity"}}},"leverageRatios":{"type":"object","properties":{"pfnEbitda":{"type":"number","format":"double","description":"PFN/ EBITDA is a financial ratio that indicates the sustainability of debt in relation to cash flows generated"},"ebitdaNetLeverage":{"type":"number","format":"double","description":"The net debt-to-EBITDA (earnings before interest depreciation and amortization) ratio is a measurement of leverage, calculated as a company's interest-bearing liabilities minus cash or cash equivalents, divided by its EBITDA"},"ffoNetLeverage":{"type":"number","format":"double","description":"FFO Net Leverage is the result of Net Financial Debt/ (Funds From Operations- Net Corresponding Interest)"},"ebitdaGrossLeverage":{"type":"number","format":"double","description":"The net debt-to-EBITDA (earnings before interest depreciation and amortization) ratio is a measurement of leverage, calculated as a company's interest-bearing liabilities minus cash or cash equivalents, divided by its EBITDA"}}},"liquidityRatios":{"type":"object","properties":{"cashShortTermFinancialDebt":{"type":"number","format":"double","description":"Short-term debt are the financial debt obligations that are due to be paid either within the next 12-month period or the current fiscal year. It is the result of liquid assets / Debt Short-term Gross Financial Debt"},"cashShortTermBankDebt":{"type":"number","format":"double","description":"Short-term debt are the bank debt obligations that are due to be paid either within the next 12-month period or the current fiscal year. It is the result of liquid assets / Payables to banks"},"cashTotalShortTermDebt":{"type":"number","format":"double","description":"Short-term debt are the debt obligations that are due to be paid either within the next 12-month period or the current fiscal year. It is the result of liquid assets / Short-term debts"},"fcfShortTermFinancialDebt":{"type":"number","format":"double","description":"Free Cash Flow Short Term Financial Debt measures the ratio of the company's liquidity to financial debt. It is the result of Free Cash Flow / Short-term Gross Financial Debt"}}},"profitability":{"type":"object","properties":{"ros":{"type":"number","format":"double","description":"Return on sales (ROS) is a ratio used to evaluate a company's operational efficiency (%)"},"roe":{"type":"number","format":"double","description":"Return on common equity (ROE) is a measure of financial performance calculated by dividing net income by shareholders' equity (%)"},"incidenceOfExtraFeaturesManagement":{"type":"number","format":"double","description":"Incidence Of Extra Features Management is the profit - loss for the year / MON* (%)"},"roi":{"type":"number","format":"double","description":"Return on Investment (ROI) is a popular profitability metric used to evaluate how well an investment has performed (%)"},"roaMonetary":{"type":"number","format":"double","description":"The term return on assets (ROA) refers to a financial ratio that indicates how profitable a company is in relation to its total assets. ROA Monetary is the result of Cash Flow / Total Assets (%)"}}},"structureRatios":{"type":"object","properties":{"netFinancialDebtEquityNetWorth":{"type":"number","format":"double","description":"Net Debt to Net Debt Plus Equity is a financial ratio that measures a company’s financial leverage by comparing its net debt to its total capitalization"},"pfnNetWorth":{"type":"number","format":"double","description":""},"financialDebtComposition":{"type":"number","format":"double","description":""},"netDebtTotalSources":{"type":"number","format":"double","description":""},"grossFinancialDebtNetWorth":{"type":"number","format":"double","description":""}}},"rae":{"type":"object","properties":{"code":{"type":"string","description":"rae code"},"description":{"type":"string","description":"The RAE code (Economic Activity Branch) is a three-digit numeric code used to classify companies based on the economic activity sector in which they operate"}}},"sae":{"type":"object","properties":{"code":{"type":"string","description":"sae code"},"description":{"type":"string","description":"The SAE code (Economic Activity Sector) is a numeric code used by Italian banks to classify companies based on their economic activity sector"}}},"Start":{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)","nullable":true},"companyName":{"type":"string","description":"Legal name of the company","nullable":true},"vatCode":{"type":"string","description":"VAT registration number (Italian Partita IVA)","nullable":true},"address":{"$ref":"#/components/schemas/Address"},"activityStatus":{"type":"string","description":"indicates the status of the company according to the Italian Chamber of Commerce","enum":["ATTIVA","REGISTRATA","INATTIVA","SOSPESA","IN_ISCRIZIONE","CESSATA"],"nullable":true},"creationTimestamp":{"type":"integer","description":"internal date of creation of the company"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"},"sdiCode":{"type":"string","description":"sdi code","nullable":true},"sdiCodeTimestamp":{"type":"integer","description":"Latest update of sdi code"},"id":{"type":"string","description":"company id"},"registrationDate":{"type":"string","description":"date of registration of the company with the chamber of commerce","nullable":true}}},"Name":{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)","nullable":true},"companyName":{"type":"string","description":"Legal name of the company","nullable":true},"vatCode":{"type":"string","description":"VAT registration number (Italian Partita IVA)","nullable":true},"address":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"town":{"type":"string","description":"Town where the company is located","nullable":true}}}}},"creationTimestamp":{"type":"integer","description":"internal date of creation of the company"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"},"id":{"type":"string","description":"company id"}}},"Address":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"toponym":{"type":"string","description":"toponym of the address","nullable":true},"street":{"type":"string","description":"street address","nullable":true},"streetNumber":{"type":"string","description":"number of the address","nullable":true},"streetName":{"type":"string","description":"complete name of the street where the company is located","nullable":true},"town":{"type":"string","description":"Town where the company is located","nullable":true},"hamlet":{"type":"string","description":"District where the company is located","nullable":true},"province":{"type":"string","description":"County (Province) where the company is located","nullable":true},"zipCode":{"type":"string","description":"ZIP code (Italian CAP) where the company is located","nullable":true},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"company location coordinates (longitude, latitude)","items":{"type":"number","format":"double"}}},"nullable":true},"townCode":{"type":"string","description":"common cadastral code (also known as national code or Belfiore code)","nullable":true},"region":{"type":"object","properties":{"code":{"type":"string","description":"Code Area (Region) where the office is located","nullable":true},"description":{"type":"string","description":"Complete name of the area (Region) where the office is located","nullable":true}}}}}}},"Advanced":{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)","nullable":true},"companyName":{"type":"string","description":"Legal name of the company","nullable":true},"vatCode":{"type":"string","description":"VAT registration number (Italian Partita IVA)","nullable":true},"address":{"$ref":"#/components/schemas/Address"},"activityStatus":{"type":"string","description":"indicates the status of the company according to the Italian Chamber of Commerce","enum":["ATTIVA","REGISTRATA","INATTIVA","SOSPESA","IN_ISCRIZIONE","CESSATA"],"nullable":true},"reaCode":{"type":"string","description":"Economic and Administrative Repertory number for Chamber of Commerce","nullable":true},"cciaa":{"type":"string","description":"Acronym of the city where the company was registered (e.g. RM as Rome, MI as Milan etc.)","nullable":true},"atecoClassification":{"type":"object","properties":{"ateco":{"type":"object","properties":{"code":{"type":"string","description":"First level ATECO 2025 code","nullable":true},"description":{"type":"string","description":"Description of the first level ATECO 2025 Code","nullable":true}}},"ateco2022":{"type":"object","properties":{"code":{"type":"string","description":"First level ATECO 2022 code","nullable":true},"description":{"type":"string","description":"Description of the first level ATECO 2022 Code","nullable":true}}},"ateco2007":{"type":"object","properties":{"code":{"type":"string","description":"First level ATECO 2007 code","nullable":true},"description":{"type":"string","description":"Description of the first level ATECO 2007 Code","nullable":true}}}}},"detailedLegalForm":{"$ref":"#/components/schemas/LegalForms"},"startDate":{"type":"string","description":"start date of the company's activity","nullable":true},"registrationDate":{"type":"string","description":"date of registration of the company with the chamber of commerce","nullable":true},"endDate":{"type":"string","description":"end date of the company's activity","nullable":true},"pec":{"type":"string","description":"company certified mail","nullable":true},"taxCodeCeased":{"type":"boolean","description":"indicates whether the company has ceased or not according to the Tax Office","nullable":true},"taxCodeCeasedTimestamp":{"type":"integer","description":"Latest update of ceased or not"},"vatGroup":{"$ref":"#/components/schemas/VatGroup"},"creationTimestamp":{"type":"integer","description":"internal date of creation of the company"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"},"sdiCode":{"type":"string","description":"sdi code","nullable":true},"sdiCodeTimestamp":{"type":"integer","description":"Latest update of sdi code"},"balanceSheets":{"$ref":"#/components/schemas/BalanceSheets"},"shareHolders":{"$ref":"#/components/schemas/ShareHolders"},"id":{"type":"string","description":"company id"}}},"BalanceSheets":{"type":"object","properties":{"last":{"type":"object","properties":{"year":{"type":"integer","description":"Year of submission of the last balance sheet"},"balanceSheetDate":{"type":"string","description":"Date of submission of the last balance sheet"},"turnover":{"type":"integer","description":"annual revenue"},"netWorth":{"type":"integer","description":"annual profit"},"employees":{"type":"integer","description":"number of employees"},"shareCapital":{"type":"integer","description":"share capital of the company"},"totalStaffCost":{"type":"integer","description":"staff cost of the company"},"totalAssets":{"type":"integer","description":"total assets of the company"},"avgGrossSalary":{"type":"number","format":"float","description":"average gross salary of the company"}},"nullable":true},"all":{"type":"array","items":{"type":"object","properties":{"year":{"type":"integer","description":"Year of submission of the last balance sheet"},"balanceSheetDate":{"type":"string","description":"Date of submission of the last balance sheet","nullable":true},"turnover":{"type":"integer","description":"annual revenue","nullable":true},"netWorth":{"type":"integer","description":"annual profit","nullable":true},"employees":{"type":"integer","description":"number of employees","nullable":true},"shareCapital":{"type":"integer","description":"share capital of the company","nullable":true},"totalStaffCost":{"type":"integer","description":"staff cost of the company","nullable":true},"totalAssets":{"type":"integer","description":"total assets of the company","nullable":true},"avgGrossSalary":{"type":"number","format":"float","description":"average gross salary of the company","nullable":true}}}}}},"ShareHolders":{"type":"array","items":{"type":"object","properties":{"companyName":{"type":"string","description":"Legal name of the shareholder","nullable":true},"name":{"type":"string","description":"First Name of the shareholder","nullable":true},"surname":{"type":"string","description":"Surname of the shareholder","nullable":true},"taxCode":{"type":"string","description":"Tax code of shareholder","nullable":true},"percentShare":{"type":"number","format":"double","description":"Percentage ownership of the company (%)"}}}},"DataEnrichmentAddress":{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)","nullable":true},"companyName":{"type":"string","description":"Legal name of the company","nullable":true},"vatCode":{"type":"string","description":"VAT registration number (Italian Partita IVA)","nullable":true},"address":{"$ref":"#/components/schemas/Address"},"creationTimestamp":{"type":"integer","description":"internal date of creation of the company"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"},"id":{"type":"string","description":"company id"}}},"DataEnrichmentPec":{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)","nullable":true},"companyName":{"type":"string","description":"Legal name of the company","nullable":true},"vatCode":{"type":"string","description":"VAT registration number (Italian Partita IVA)","nullable":true},"id":{"type":"string","description":"company id"},"pec":{"type":"string","description":"company certified mail","nullable":true},"history":{"type":"array","items":{"type":"object","properties":{"pec":{"type":"string","description":"company certified mail"},"timestamp":{"type":"integer","description":"timestamp until which it was active"}}}}}},"DataEnrichmentShareholders":{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)","nullable":true},"companyName":{"type":"string","description":"Legal name of the company","nullable":true},"vatCode":{"type":"string","description":"VAT registration number (Italian Partita IVA)","nullable":true},"id":{"type":"string","description":"company id"},"shareHolders":{"$ref":"#/components/schemas/ShareHolders"}}},"VatGroup":{"type":"object","properties":{"vatGroupParticipation":{"type":"boolean","description":"participation of the company in the VAT group","nullable":true},"isVatGroupLeader":{"type":"boolean","description":"if the company is at the head of the VAT group","nullable":true},"registryOk":{"type":"boolean","description":"if the company data is correct","nullable":true}}},"VatGroupTaxCode":{"type":"object","properties":{"vatGroupParticipation":{"type":"boolean","description":"participation of the company in the VAT group","nullable":true},"isVatGroupLeader":{"type":"boolean","description":"if the company is at the head of the VAT group","nullable":true},"registryOk":{"type":"boolean","description":"if the company data is correct","nullable":true},"taxCodeVatCodeConsistent":{"type":"boolean","description":"consistency between the tax code and VAT number entered","nullable":true},"taxCodePresent":{"type":"boolean","description":"whether or not the Tax Code belongs to the VAT Group","nullable":true},"taxCodeEntrant":{"type":"boolean","description":"presence or absence of the Tax Code to the VAT Group","nullable":true},"vatGroupMembers":{"type":"array","description":"array of tax codes present in the VAT group","items":{"type":"string"},"nullable":true}}},"LegalForms":{"type":"object","properties":{"code":{"type":"string","description":"company legal code","nullable":true},"description":{"type":"string","description":"description of the legal code","nullable":true}}},"EuStart":{"type":"object","properties":{"valid":{"type":"boolean","description":"if the VAT number is valid"},"formatValid":{"type":"boolean","description":"if the VAT number is formally valid"},"countryCode":{"type":"string","description":"company country code"},"vatCode":{"type":"string","description":"VAT registration number (Italian Partita IVA)"},"companyName":{"type":"string","description":"Legal name of the company"},"companyAddress":{"type":"string","description":"company address"}}},"Split":{"type":"object","properties":{"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)"},"companyName":{"type":"string","description":"Legal name of the company"},"companyType":{"type":"string","description":"company category"},"startingDateTimestamp":{"type":"integer","description":"effective timestamp for being subject to split payment"},"lastUpdateTimestamp":{"type":"integer","description":"timestamp of the update"}}},"Pa":{"type":"object","properties":{"paId":{"type":"integer","description":"institution id"},"companyName":{"type":"string","description":"Legal name of the company"},"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)","nullable":true},"vatCode":{"type":"string","description":"VAT registration number (Italian Partita IVA)","nullable":true},"establishmentDate":{"type":"string","description":"date of establishment","nullable":true},"terminationDate":{"type":"string","description":"date of termination","nullable":true},"atecoClassification":{"type":"object","properties":{"ateco":{"type":"object","properties":{"code":{"type":"string","description":"First level ATECO code","nullable":true},"description":{"type":"string","description":"Description of the first level ATECO Code","nullable":true}}}}},"detailedLegalForm":{"type":"object","properties":{"code":{"type":"string","description":"company legal code","nullable":true},"description":{"type":"string","description":"description of the legal code","nullable":true}}},"phone":{"type":"string","description":"Company telephone number","nullable":true},"fax":{"type":"string","description":"Company fax number","nullable":true},"url":{"type":"string","description":"Website URL","nullable":true},"managerName":{"type":"string","description":"First name of the manager","nullable":true},"managerSurname":{"type":"string","description":"Surname of the manager","nullable":true},"managerTitle":{"type":"string","description":"Title of the manager","nullable":true},"address":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"town":{"type":"object","properties":{"code":{"type":"string","description":"common cadastral code (also known as national code or Belfiore code)","nullable":true},"number":{"type":"string","description":"town number","nullable":true},"description":{"type":"string","description":"town name where the company is located","nullable":true},"istat":{"type":"string","description":"ISTAT code","nullable":true}}},"province":{"type":"object","properties":{"code":{"type":"string","description":"province code","nullable":true},"number":{"type":"string","description":"province number","nullable":true},"description":{"type":"string","description":"province name where the company is located","nullable":true}}},"toponym":{"type":"string","description":"toponym of the address","nullable":true},"street":{"type":"string","description":"street address","nullable":true},"streetNumber":{"type":"string","description":"number of the address","nullable":true},"streetName":{"type":"string","description":"complete name of the street where the company is located","nullable":true},"hamlet":{"type":"string","description":"District where the company is located","nullable":true},"zipCode":{"type":"string","description":"ZIP code (Italian CAP) where the company is located","nullable":true},"region":{"type":"object","properties":{"code":{"type":"string","description":"region code","nullable":true},"description":{"type":"string","description":"region name where the company is located","nullable":true}}},"area":{"type":"object","properties":{"code":{"type":"string","description":"area code","nullable":true},"description":{"type":"string","description":"area name where the company is located","nullable":true}}}}}}},"participationStatus":{"type":"string","description":"participation status","nullable":true},"siopeEntityCode":{"type":"string","description":"SIOPE entity code","nullable":true},"siopeTypeId":{"type":"string","description":"SIOPE type id","nullable":true},"siopeTypeCode":{"type":"string","description":"SIOPE type code","nullable":true},"siopeTypeDescription":{"type":"string","description":"SIOPE type description","nullable":true},"siopeInclusionDate":{"type":"string","description":"SIOPE inclusion date","nullable":true},"siopeExclusionDate":{"type":"string","description":"SIOPE exclusion date","nullable":true},"ipaEntityCode":{"type":"string","description":"IPA entity code","nullable":true},"ipaCategoryId":{"type":"string","description":"IPA category id","nullable":true},"ipaCategoryCode":{"type":"string","description":"IPA category code","nullable":true},"ipaCategoryDescription":{"type":"string","description":"IPA category description","nullable":true},"ipaTypeCode":{"type":"string","description":"IPA type code","nullable":true},"ipaTypeDescription":{"type":"string","description":"IPA type descritpion","nullable":true},"ipaInclusionDate":{"type":"string","description":"IPA inclusion date","nullable":true},"ipaExclusionDate":{"type":"string","description":"IPA exclusion date","nullable":true},"miurEntityCode":{"type":"string","description":"MIUR entity code","nullable":true},"miurTypeId":{"type":"string","description":"MIUR type id","nullable":true},"miurTypeCode":{"type":"string","description":"MIUR type code","nullable":true},"miurTypeDescription":{"type":"string","description":"MIUR type description","nullable":true},"dtTypeId":{"type":"string","description":"DT type id","nullable":true},"dtTypeCode":{"type":"string","description":"DT type code","nullable":true},"dtTypeDescription":{"type":"string","description":"DT type description","nullable":true},"ssnEntityCode":{"type":"string","description":"SSN entity code","nullable":true},"s13IstatEntityCode":{"type":"string","description":"ISTAT S13 entity code","nullable":true},"s13IstatTypeId":{"type":"string","description":"ISTAT S13 type id","nullable":true},"s13IstatTypeCode":{"type":"string","description":"ISTAT S13 type code","nullable":true},"s13IstatTypeDescription":{"type":"string","description":"ISTAT S13 type description","nullable":true},"s13IstatInclusionDate":{"type":"string","description":"ISTAT S13 inclusion date","nullable":true},"s13IstatExclusionDate":{"type":"string","description":"ISTAT S13 exclusion date","nullable":true},"dlgs1182011TypeId":{"type":"string","description":"DLGS 118 2011 type id","nullable":true},"dlgs1182011TypeCode":{"type":"string","description":"DLGS 118 2011 type code","nullable":true},"dlgs1182011TypeDescription":{"type":"string","description":"DLGS 118 2011type description","nullable":true},"dlgs1182011InclusionDate":{"type":"string","description":"DLGS 118 2011 inclusion date","nullable":true},"dlgs1182011ExclusionDate":{"type":"string","description":"DLGS 118 2011 exclusion date","nullable":true},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"},"pa":{"type":"boolean","description":"is it public administration or not"},"paInvoicingOffice":{"type":"array","items":{"$ref":"#/components/schemas/Office"}}}},"Office":{"type":"object","properties":{"administrationCode":{"type":"string","description":"administration code"},"ouCode":{"type":"string","description":"ou code"},"sdiCode":{"type":"string","description":"sdi code"},"ouDescription":{"type":"string","description":"ou description"},"region":{"type":"string","description":"region name where the office is located"},"province":{"type":"string","description":"province code where the office is located"},"town":{"type":"string","description":"town name where the office is located"},"streetName":{"type":"string","description":"complete name of the street where the office is located"},"zipCode":{"type":"string","description":"ZIP code (Italian CAP) where the office is located"},"taxCode":{"type":"string","description":"Tax code (Italian Codice Fiscale)"},"taxCodeVerificationDate":{"type":"string","description":"Tax code verification date"},"sfeStartDate":{"type":"string","description":"Sfe start date"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of office data"}}},"PostBody":{"type":"object","properties":{"callback":{"$ref":"#/components/schemas/Callback"}}},"Callback":{"type":"object","properties":{"method":{"type":"string","description":"Indicate through which method you want to receive data with the callback, by default it is POST","enum":["POST","JSON"]},"field":{"type":"string","description":"Name of the field containing the callback return data (required with method: POST)"},"url":{"type":"string","description":"Url where the callback call will be made","example":"https://www.mysite.it/callback.php"},"headers":{"type":"object","properties":{"key":{"type":"string"}},"description":"contains key:value strings that you want to arrive as headers","example":{"session_id":"9834r5fh589494"}},"data":{"type":"object","description":"Object to be completed at your convenience with additional data that you can use back with the callback"}},"nullable":true},"Request":{"type":"object","properties":{"state":{"type":"string","description":"request state","enum":["PENDING","DONE"]},"id":{"type":"string","description":"request id"}}},"FrStart":{"type":"object","properties":{"siretCode":{"type":"string","description":"Local Unique Identifier (Companies House ID; KvK; Chamber Of Commerce; etc.)"},"companyName":{"type":"string","description":"Legal name of the company"},"tradingName":{"type":"string","description":"The name a company trades under, if different to its registered name","nullable":true},"aliasName":{"type":"string","description":"An alternative name a company may be known as","nullable":true},"sirenCode":{"type":"string","description":"Local Unique Identifier (Companies House ID; KvK; Chamber of Commerce; etc); differs from siretCode by not including Branch ID where applicable"},"coCode":{"type":"string","description":"Alternative Company Registration Number","nullable":true},"activityStatus":{"type":"string","description":"company status","enum":["ACTIVE","CEASED"]},"registrationDate":{"type":"string","description":"Date of the Incorporation of the Company"},"vatCode":{"type":"string","description":"VAT registration number"},"address":{"$ref":"#/components/schemas/FrAddress"},"creationTimestamp":{"type":"integer","description":"internal date of creation of the company"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"},"id":{"type":"string","description":"company id"}}},"FrAdvanced":{"type":"object","properties":{"siretCode":{"type":"string","description":"Local Unique Identifier (Companies House ID; KvK; Chamber Of Commerce; etc.)"},"companyName":{"type":"string","description":"Legal name of the company"},"tradingName":{"type":"string","description":"The name a company trades under, if different to its registered name","nullable":true},"aliasName":{"type":"string","description":"An alternative name a company may be known as","nullable":true},"sirenCode":{"type":"string","description":"Local Unique Identifier (Companies House ID; KvK; Chamber of Commerce; etc); differs from siretCode by not including Branch ID where applicable"},"coCode":{"type":"string","description":"Alternative Company Registration Number","nullable":true},"activityStatus":{"type":"string","description":"company status","enum":["ACTIVE","CEASED"]},"creditWorthy":{"type":"integer","description":"Indicator if the Company is Creditworthy, 0 - No, 1 – Yes","enum":[0,1]},"registrationDate":{"type":"string","description":"Date of the Incorporation of the Company"},"vatCode":{"type":"string","description":"VAT registration number"},"address":{"$ref":"#/components/schemas/FrAddress"},"internationalClassification":{"type":"object","properties":{"naf":{"type":"object","properties":{"code":{"type":"string","description":"Naf code","nullable":true},"description":{"type":"string","description":"Description of the Naf Code","nullable":true}}},"nace":{"type":"object","properties":{"code":{"type":"string","description":"Nace code","nullable":true},"description":{"type":"string","description":"Description of the Nace Code","nullable":true}}}}},"detailedLegalForm":{"type":"object","properties":{"code":{"type":"string","description":"company legal code","nullable":true},"description":{"type":"string","description":"description of the legal code","nullable":true}}},"balanceSheets":{"$ref":"#/components/schemas/FrBalanceSheets"},"creationTimestamp":{"type":"integer","description":"internal date of creation of the company"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"},"allOffice":{"type":"array","items":{"type":"object","properties":{"siretCode":{"type":"string","description":"Local Unique Identifier (Companies House ID; KvK; Chamber Of Commerce; etc.)"},"companyName":{"type":"string","description":"Legal name of the company"},"address":{"$ref":"#/components/schemas/FrAddress"},"activityStatus":{"type":"string","description":"company status","enum":["ACTIVE","CEASED"]}}}},"id":{"type":"string","description":"company id"}}},"FrAddress":{"oneOf":[{"$ref":"#/components/schemas/Registered"},{"$ref":"#/components/schemas/Branch"}]},"Registered":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"street":{"type":"string","description":"street address according to the National Address public database","nullable":true},"streetNumber":{"type":"string","description":"number of the address according to the National Address public database","nullable":true},"streetName":{"type":"string","description":"complete name of the street where the company is located according to the Chamber of Commerce","nullable":true},"streetName2":{"type":"string","description":"Line 2 of the companies registered address according to the Chamber of Commerce. Usually optional","nullable":true},"streetName3":{"type":"string","description":"Line 3 of the companies registered address according to the Chamber of Commerce. Usually optional","nullable":true},"streetName4":{"type":"string","description":"Line 4 of the companies registered address according to the Chamber of Commerce; this is typically region, province, county or state","nullable":true},"town":{"type":"string","description":"Town where the company is located according to the Chamber of Commerce","nullable":true},"zipCode":{"type":"string","description":"ZIP code where the company is located according to the Chamber of Commerce","nullable":true},"country":{"type":"string","description":"The country of the registered company according to the Chamber of Commerce","nullable":true},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"company location coordinates according to the National Address public database (longitude, latitude)","items":{"type":"number","format":"double"},"nullable":true}}},"townCode":{"type":"string","description":"INSEE code of the municipality according to the National Address public database","nullable":true},"department":{"type":"object","properties":{"code":{"type":"string","description":"department INSEE code according to the National Address public database","nullable":true},"description":{"type":"string","description":"department INSEE description according to the National Address public database","nullable":true}}},"region":{"type":"object","properties":{"code":{"type":"string","description":"region INSEE code according to the National Address public database","nullable":true},"description":{"type":"string","description":"region INSEE description according to the National Address public database","nullable":true}}}}}}},"Branch":{"type":"object","properties":{"branchOffice":{"type":"object","properties":{"street":{"type":"string","description":"street address according to the National Address public database","nullable":true},"streetNumber":{"type":"string","description":"number of the address according to the National Address public database","nullable":true},"streetName":{"type":"string","description":"complete name of the street where the company is located according to the Chamber of Commerce","nullable":true},"streetName2":{"type":"string","description":"Line 2 of the companies registered address according to the Chamber of Commerce. Usually optional","nullable":true},"streetName3":{"type":"string","description":"Line 3 of the companies registered address according to the Chamber of Commerce. Usually optional","nullable":true},"streetName4":{"type":"string","description":"Line 4 of the companies registered address according to the Chamber of Commerce; this is typically region, province, county or state","nullable":true},"town":{"type":"string","description":"Town where the company is located according to the Chamber of Commerce","nullable":true},"zipCode":{"type":"string","description":"ZIP code where the company is located according to the Chamber of Commerce","nullable":true},"country":{"type":"string","description":"The country of the registered company according to the Chamber of Commerce","nullable":true},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"company location coordinates according to the National Address public database (longitude, latitude)","items":{"type":"number","format":"double"},"nullable":true}}},"townCode":{"type":"string","description":"INSEE code of the municipality according to the National Address public database","nullable":true},"department":{"type":"object","properties":{"code":{"type":"string","description":"department INSEE code according to the National Address public database","nullable":true},"description":{"type":"string","description":"department INSEE description according to the National Address public database","nullable":true}}},"region":{"type":"object","properties":{"code":{"type":"string","description":"region INSEE code according to the National Address public database","nullable":true},"description":{"type":"string","description":"region INSEE description according to the National Address public database","nullable":true}}}}}}},"FrBalanceSheets":{"type":"object","properties":{"last":{"type":"object","properties":{"year":{"type":"integer","description":"Year of submission of the last balance sheet"},"balanceSheetDate":{"type":"string","description":"Date of submission of the last balance sheet"},"turnover":{"type":"number","format":"float","description":"annual revenue"},"netWorth":{"type":"number","format":"float","description":"annual profit"},"employees":{"type":"integer","description":"number of employees"},"ebitda":{"type":"number","format":"float","description":"ebitda of the company"}},"nullable":true},"all":{"type":"array","items":{"type":"object","properties":{"year":{"type":"integer","description":"Year of submission of the last balance sheet"},"balanceSheetDate":{"type":"string","description":"Date of submission of the last balance sheet","nullable":true},"turnover":{"type":"number","format":"float","description":"annual revenue","nullable":true},"netWorth":{"type":"number","format":"float","description":"annual profit","nullable":true},"employees":{"type":"integer","description":"number of employees","nullable":true},"ebitda":{"type":"number","format":"float","description":"ebitda of the company","nullable":true}}}}}},"DeStart":{"type":"object","properties":{"id":{"type":"string","description":"company id"},"companyName":{"type":"string","description":"Legal name of the company"},"vatCode":{"type":"string","description":"VAT registration number in European format"},"companyNumber":{"type":"string","description":"company number from the German commercial register"},"leiCode":{"type":"string","description":"Legal Entity Identifier. It is a unique 20-character alphanumeric code, assigned to each legal entity (companies, funds, non-profit organizations, etc.) that operates in the financial markets globally"},"activityStatus":{"type":"string","description":"company status","enum":["ACTIVE","DISSOLVED","INACTIVE (NO PRECISION)","ACTIVE (DORMANT)","STATUS UNKNOWN","IN LIQUIDATION","DISSOLVED (LIQUIDATION)","ADMINISTRATIVELY SUSPENDED","DISSOLVED (MERGER OR TAKE-OVER)","DISSOLVED (BANKRUPTCY)","ACTIVE (ADMINISTRATIVELY NON-COMPLIANT)","BANKRUPTCY","ACTIVE (INSOLVENCY PROCEEDINGS)","ACTIVE (DEFAULT OF PAYMENT)","ACTIVE (REORGANIZATION)","DISSOLVED (DEMERGER)","ACTIVE (RESCUE PLAN)"]},"incorporationDate":{"type":"string","description":"Date of the Incorporation of the Company"},"address":{"$ref":"#/components/schemas/DeAddress"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"}}},"DeAddress":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"streetNumber":{"type":"string","description":"number of the address","nullable":true},"streetName":{"type":"string","description":"complete name of the street where the company is located"},"town":{"type":"string","description":"Town where the company is located"},"zipCode":{"type":"string","description":"ZIP code where the company is located"},"country":{"type":"string","description":"The ISO2 code of the country of the company's headquarters"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"company location coordinates (longitude, latitude)","items":{"type":"number","format":"double"}}},"nullable":true}}}}},"DeAdvanced":{"type":"object","properties":{"id":{"type":"string","description":"company id"},"companyName":{"type":"string","description":"Legal name of the company"},"vatCode":{"type":"string","description":"VAT registration number in European format"},"companyNumber":{"type":"string","description":"company number from the German commercial register"},"leiCode":{"type":"string","description":"Legal Entity Identifier. It is a unique 20-character alphanumeric code, assigned to each legal entity (companies, funds, non-profit organizations, etc.) that operates in the financial markets globally"},"activityStatus":{"type":"string","description":"company status","enum":["ACTIVE","DISSOLVED","INACTIVE (NO PRECISION)","ACTIVE (DORMANT)","STATUS UNKNOWN","IN LIQUIDATION","DISSOLVED (LIQUIDATION)","ADMINISTRATIVELY SUSPENDED","DISSOLVED (MERGER OR TAKE-OVER)","DISSOLVED (BANKRUPTCY)","ACTIVE (ADMINISTRATIVELY NON-COMPLIANT)","BANKRUPTCY","ACTIVE (INSOLVENCY PROCEEDINGS)","ACTIVE (DEFAULT OF PAYMENT)","ACTIVE (REORGANIZATION)","DISSOLVED (DEMERGER)","ACTIVE (RESCUE PLAN)"]},"incorporationDate":{"type":"string","description":"Date of the Incorporation of the Company"},"address":{"$ref":"#/components/schemas/DeAddress"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"},"contacts":{"type":"object","properties":{"fax":{"type":"string","description":"The company fax number registered in the chamber of commerce"},"phone":{"type":"string","description":"The company telephone number registered in the chambers of commerce"},"website":{"type":"string","description":"The company's main website"}}},"internationalClassification":{"type":"object","properties":{"nace":{"type":"object","properties":{"code":{"type":"string","description":"Nace code","nullable":true},"description":{"type":"string","description":"Description of the Nace Code","nullable":true}}},"naics":{"type":"object","properties":{"code":{"type":"string","description":"Naics code","nullable":true},"description":{"type":"string","description":"Description of the Naics Code","nullable":true}}},"sic":{"type":"object","properties":{"code":{"type":"string","description":"Sic code","nullable":true},"description":{"type":"string","description":"Description of the Sic Code","nullable":true}}}}},"balanceSheets":{"$ref":"#/components/schemas/WwBalanceSheets"}}},"WwBalanceSheets":{"type":"object","properties":{"last":{"type":"object","properties":{"year":{"type":"integer","description":"Year of submission of the last balance sheet"},"balanceSheetDate":{"type":"string","description":"Date of submission of the last balance sheet"},"employees":{"type":"integer","description":"number of employees"},"netWorth":{"type":"number","format":"float","description":"annual profit"},"operatingRevenue":{"type":"number","format":"float","description":"Total value of production"},"equity":{"type":"number","format":"float","description":"residual value of a company's assets after all liabilities have been subtracted"},"totalAssets":{"type":"number","format":"float","description":"Total assets"}},"nullable":true},"all":{"type":"array","items":{"type":"object","properties":{"year":{"type":"integer","description":"Year of submission of the last balance sheet"},"balanceSheetDate":{"type":"string","description":"Date of submission of the last balance sheet"},"employees":{"type":"integer","description":"number of employees","nullable":true},"netWorth":{"type":"number","format":"float","description":"annual profit","nullable":true},"operatingRevenue":{"type":"number","format":"float","description":"Total value of production","nullable":true},"equity":{"type":"number","format":"float","description":"residual value of a company's assets after all liabilities have been subtracted","nullable":true},"totalAssets":{"type":"number","format":"float","description":"Total assets","nullable":true}}}}}},"EsStart":{"type":"object","properties":{"id":{"type":"string","description":"company id"},"companyName":{"type":"string","description":"Legal name of the company"},"vatCode":{"type":"string","description":"VAT registration number in European format"},"taxCode":{"type":"string","description":"tax identification number"},"leiCode":{"type":"string","description":"Legal Entity Identifier. It is a unique 20-character alphanumeric code, assigned to each legal entity (companies, funds, non-profit organizations, etc.) that operates in the financial markets globally"},"activityStatus":{"type":"string","description":"company status","enum":["ACTIVE","DISSOLVED","INACTIVE (NO PRECISION)","ACTIVE (DORMANT)","STATUS UNKNOWN","IN LIQUIDATION","DISSOLVED (LIQUIDATION)","ADMINISTRATIVELY SUSPENDED","DISSOLVED (MERGER OR TAKE-OVER)","DISSOLVED (BANKRUPTCY)","ACTIVE (ADMINISTRATIVELY NON-COMPLIANT)","BANKRUPTCY","ACTIVE (INSOLVENCY PROCEEDINGS)","ACTIVE (DEFAULT OF PAYMENT)","ACTIVE (REORGANIZATION)","DISSOLVED (DEMERGER)","ACTIVE (RESCUE PLAN)"]},"incorporationDate":{"type":"string","description":"Date of the Incorporation of the Company"},"address":{"$ref":"#/components/schemas/EsAddress"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"}}},"EsAddress":{"type":"object","properties":{"registeredOffice":{"type":"object","properties":{"streetNumber":{"type":"string","description":"number of the address","nullable":true},"streetName":{"type":"string","description":"complete name of the street where the company is located"},"town":{"type":"string","description":"Town where the company is located"},"zipCode":{"type":"string","description":"ZIP code where the company is located"},"country":{"type":"string","description":"The ISO2 code of the country of the company's headquarters"},"gps":{"type":"object","properties":{"coordinates":{"type":"array","description":"company location coordinates (longitude, latitude)","items":{"type":"number","format":"double"}}},"nullable":true}}}}},"EsAdvanced":{"type":"object","properties":{"id":{"type":"string","description":"company id"},"companyName":{"type":"string","description":"Legal name of the company"},"vatCode":{"type":"string","description":"VAT registration number in European format"},"taxCode":{"type":"string","description":"tax identification number"},"leiCode":{"type":"string","description":"Legal Entity Identifier. It is a unique 20-character alphanumeric code, assigned to each legal entity (companies, funds, non-profit organizations, etc.) that operates in the financial markets globally"},"activityStatus":{"type":"string","description":"company status","enum":["ACTIVE","DISSOLVED","INACTIVE (NO PRECISION)","ACTIVE (DORMANT)","STATUS UNKNOWN","IN LIQUIDATION","DISSOLVED (LIQUIDATION)","ADMINISTRATIVELY SUSPENDED","DISSOLVED (MERGER OR TAKE-OVER)","DISSOLVED (BANKRUPTCY)","ACTIVE (ADMINISTRATIVELY NON-COMPLIANT)","BANKRUPTCY","ACTIVE (INSOLVENCY PROCEEDINGS)","ACTIVE (DEFAULT OF PAYMENT)","ACTIVE (REORGANIZATION)","DISSOLVED (DEMERGER)","ACTIVE (RESCUE PLAN)"]},"incorporationDate":{"type":"string","description":"Date of the Incorporation of the Company"},"address":{"$ref":"#/components/schemas/EsAddress"},"lastUpdateTimestamp":{"type":"integer","description":"Latest update of company data"},"contacts":{"type":"object","properties":{"fax":{"type":"string","description":"The company fax number registered in the chamber of commerce"},"phone":{"type":"string","description":"The company telephone number registered in the chambers of commerce"},"website":{"type":"string","description":"The company's main website"}}},"internationalClassification":{"type":"object","properties":{"nace":{"type":"object","properties":{"code":{"type":"string","description":"Nace code","nullable":true},"description":{"type":"string","description":"Description of the Nace Code","nullable":true}}},"naics":{"type":"object","properties":{"code":{"type":"string","description":"Naics code","nullable":true},"description":{"type":"string","description":"Description of the Naics Code","nullable":true}}},"sic":{"type":"object","properties":{"code":{"type":"string","description":"Sic code","nullable":true},"description":{"type":"string","description":"Description of the Sic Code","nullable":true}}}}},"balanceSheets":{"$ref":"#/components/schemas/WwBalanceSheets"}}},"PtStart":{"type":"object","properties":{"id":{"type":"string","description":"company id"},"compan
[...]
